@use 'variables';
@use 'sass:map';

@function themed($key) {
  @return map.get(variables.$light-theme, $key);
}

@mixin themed-property($property, $key) {
  #{$property}: themed($key);

  .dark & {
    #{$property}: map.get(variables.$dark-theme, $key);
  }
}

@mixin box-shadow($level: 1) {
  @if $level == 1 {
    box-shadow: variables.$box-shadow-sm;
  } @else if $level == 2 {
    box-shadow: variables.$box-shadow-md;
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
